# This file controls the settings for your Quarto template from www.marvinschmitt.com

# website settings
website:
  title: "Luuk Schmitz" # Your name
  image: ls.jpg
  
  # start of the navigation bar at the top of the website
  navbar:
    pinned: true
    
    # your sub-pages
    right:
      - text: "Projects"
        href: projects/index.qmd
      - text: "Publications"
        href: publications/index.qmd
      - text: "CV"
        href: cv/index.qmd
      - text: "Blog"
        href: blog/index.qmd
      - text: "presentations"
        href: presentations/index.html


# Don't touch unless you know what you are doing :) ------------
  search: 
    location: navbar
    type: overlay
  page-footer: 
    left: |
      <span class="faux-block"> Image credit: MPIfG/AD</span>
      
project:
  type: website
  output-dir: docs
  resources:
    - mfi_sii_firms_vs_nace2.html

  preview: 
    port: 22222
    browser: true
    watch-inputs: true
    navigate: true

execute:
  freeze: true

format:
  html:
    fontsize: 1.1em
    theme: 
      - flatly
      - html/styles.scss
    toc: false
    code-link: true
    anchor-sections: true
    fig-cap-location: margin
    reference-location: margin
    footnotes-hover: true
    css: 
      - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.css